@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@700&family=Quicksand:wght@500&display=swap');

/* Styling the menu button */
body {
  background-color: #131313;
  text-decoration: none;
  font-family: Quicksand;
  font-size: 20px;
  line-height: 50px;
}

div {
  text-align: center;
}

a {
  color: white;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

/* Styling the hamburger lines */
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: all 0.3s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
  transform: rotate(180deg);
}

/* Styling the three lines
  to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* Styling the position of the menu icon */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  text-align: right;
  padding-top: 25px;
  padding-right: 100px;
  text-decoration: none;
}

.menu.show {
  visibility: visible;
}

/* Adding a transition delay to the
 4 items in the navigation menu */
.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

p.project {
  text-align: left;
  margin-left: 200px;
  font-size: 42px;
  padding-top: 100px;
}