.parallax {
    background-image: url("bg-01.png");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("bg-02.jpeg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption span.border {
    background-color: white;
    color: black;
    padding: 14px;
    font-size: 25px;
    letter-spacing: 10px;
}

.about-me {
    font-size: 24px;
    margin-left: 200px;
    margin-right: 200px;
    text-decoration: none;
}

.my-work {
    text-align: left;
    margin-top: -125px;
    font-size: 24px;
    margin-left: 200px;
    margin-right: 200px;
    text-decoration: none;
}