h1 {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  padding: 100px;
  white-space: nowrap;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}