table.center {
  margin-left:auto; 
  margin-right:auto;
}

body {
  padding: 0;
  margin: 0;
}

.pHeader {
  font-size: 28px;
}

#iHeader {
  font-size: 22px;
}

html {
  background-color: #111111;
  color:white;
  font-family:'Courier New', Courier, monospace;
}

.container {
  float: right;
  display: block;
  cursor: pointer;
}

.topnav {
position: fixed;
background-color: #111111;
overflow: hidden;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #212121;
color: #f2f2f2;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #f2f2f2;
color: black;
}

#smallP {
  text-align: center; 
  padding-left: 20%; 
  padding-right: 20%;
}

#test {
  text-align: left;
  content: "";
  display: table;
  clear: both;
}

#form {
  float: left;
  width: 50%;
  padding: 10px;
}

textarea, input {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}