/* Center a table horizontally */
table.center {
  margin: 0 auto;
}

/* Reset body margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* Set header font sizes */
.pHeader {
  font-size: 28px;
}
#iHeader {
  font-size: 22px;
}

/* Set background color, font family, and text color for the page */
html {
  background-color: #111111;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

/* Set styles for a container element */
.container {
  float: right;
  display: block;
  cursor: pointer;
}

/* Set styles for a fixed navigation bar */
.topnav {
  position: fixed;
  background-color: #111111;
  overflow: hidden;
}
.topnav .icon {
  display: none;
}

/* Set styles for navigation links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #212121;
  color: #f2f2f2;
}
.topnav a.active {
  background-color: #f2f2f2;
  color: black;
}

#headingS {
  font-size: 30px; 
  padding-top: 10%;
}

/* Set styles for a paragraph with id "smallP" */
#smallP {
  text-align: center; 
  padding-left: 10%; 
  padding-right: 10%; 
  font-size: 18px;
}

/* Set border radius for textareas and inputs */
textarea, input {
  border-radius: 15px;
}

/* blog posts CSS */
header.blogTitle {
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  padding: 1em;
  }

  main {
  margin: auto;
  max-width: 800px;
  padding-top: 7em;
  }

  article {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
  }

  article h3 {
  margin-top: 0;
  }

  p.head {
      margin-top: -10px;
      /* font-size: .75em; */
  }

  article p:last-of-type {
  margin-bottom: 0;
  }

  p.bodyArticle {
      color: black;
  }

  footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  }